@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

$tablet: 992px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: 100%;
  text-align: center;

  .header {
    h1 {
      color: rgb(174, 0, 0);
      font-family: "Source Code Pro", monospace;
      font-weight: bold;
    }
    h4 {
      font-size: 20px;
      border-bottom: 2px solid gray;
    }
  }
  article {
    width: 100%;

    .nav-bar {
      border: 2px solid black;
      border-radius: 5px;
      background-color: gray;

      .logo {
        background-color: black;
        width: 50px;
        height: 50px;
      }
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
        }
      }
    }
    .img-container {
      width: 100%;
      height: 450px;
      position: relative;

      .bg-img {
        width: 100%;
        height: 100%;
      }
      .abs {
        width: 80%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        h1 {
          color: rgb(236, 8, 8);
          text-shadow: 5px 2px 3px rgba(219, 219, 219, 0.797);
          margin: 20px;
        }
        .order-btn {
          border: none;
          border-radius: 5px;
          font-size: 20px;
          font-weight: 600;
          margin: 20px;
          background-color: rgba(255, 255, 0, 0.849);
        }
        .order-btn:hover {
          background-color: red;
          border: 1px solid white;
        }
        .grid-img {
          margin: 30px;

          .col-img {
            position: relative;
          }
          img {
            width: 350px;
            height: 150px;
            border-radius: 8%;
          }
          button {
            width: fit-content;
            height: fit-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            font-size: 15px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            background-color: rgba(255, 255, 0, 0.849);
          }
          button:hover {
            background-color: red;
            border: 1px solid white;
          }
        }
      }
    }
  }
  article {
    margin-top: 20px;
    h3 {
      border-top: 2px solid gray;
    }
    .featured_imgs {
      .img_grid {
        position: relative;
        padding: 0;
        img {
          border-radius: 10px;
        }
        button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          background-color: yellow;
          border: none;
          border-radius: 5px;
        }
        button:hover {
          background-color: red;
          border: 1px solid white;
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  section {
    article {
      .img-container {
        width: 100%;
        height: 600px;
      }
    }
  }
}
